@font-face {
  font-family: "iconfont"; /* Project id 4724780 */
  src: url('iconfont.woff2?t=1730569199275') format('woff2'),
       url('iconfont.woff?t=1730569199275') format('woff'),
       url('iconfont.ttf?t=1730569199275') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e65c";
}

.icon-dianhuahujiao:before {
  content: "\e66f";
}

.icon-youjiantou:before {
  content: "\e613";
}

.icon-xiangzuo:before {
  content: "\e60d";
}

.icon-youjiantou1:before {
  content: "\e72b";
}

.icon-huangsejiantou:before {
  content: "\e6b4";
}

.icon-bofang1:before {
  content: "\e648";
}

.icon-wode1:before {
  content: "\e649";
}

.icon-zanting:before {
  content: "\e64a";
}

.icon-a-10-01:before {
  content: "\e782";
}

.icon-shengyin:before {
  content: "\e626";
}

.icon-bofang:before {
  content: "\e605";
}

.icon-dianzan:before {
  content: "\e63c";
}

.icon-weidianzan:before {
  content: "\ec0c";
}

.icon-address-01:before {
  content: "\e6d1";
}

.icon-xiangxiazhanhang:before {
  content: "\ec0b";
}

.icon-downward_flat:before {
  content: "\e6eb";
}

.icon-backward_flat:before {
  content: "\e6ec";
}

.icon-forward_flat:before {
  content: "\e6ed";
}

.icon-upward_flat:before {
  content: "\e6ee";
}

.icon-xiangmu:before {
  content: "\e6bd";
}

.icon-guanyu:before {
  content: "\e68b";
}

.icon-fangdajing:before {
  content: "\e621";
}

.icon-liaotian:before {
  content: "\e725";
}

.icon-shouye:before {
  content: "\e726";
}

.icon-shoucang:before {
  content: "\e727";
}

.icon-wengao:before {
  content: "\e728";
}

.icon-wode:before {
  content: "\e729";
}

.icon-youjian:before {
  content: "\e72a";
}

.icon-tiktok:before {
  content: "\eb73";
}

.icon-weixin:before {
  content: "\eb74";
}

.icon-bilibili:before {
  content: "\eb78";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e601";
}

.icon-csdn:before {
  content: "\e602";
}

.icon-Facebook:before {
  content: "\e603";
}

.icon-pixiv:before {
  content: "\e604";
}

.icon-bianji:before {
  content: "\e722";
}

